
*{
    padding: 0px;
    margin: 0px;
}

#body{

    font-family: Arial, Helvetica, sans-serif; 
    display: flex;
    justify-content: start;
    width: 100%;
    height:100%;
}

#add-block{
    display: flex;
    justify-items: center;
    background-color: #ebebeb;
    width:25%;
    height: 1200px;
}

#head-name{
    margin-top: 40px;
}

.input{
    width: 300px;
    height: 30px;
    margin: 10px;
}

#button-add{
    padding: 5px 10px 5px 10px;
}


.image-book{
    margin-top: 70px;
    width: 250px;
    height: 250px;
    background-color: rebeccapurple;
}



#list-box{
    margin: 0px 0px 0px 20px;
    width: 75%;
    background-color: #ebebeb;
    display: grid ;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
}

.box{
    margin: 10px 0px 0px 20px;
  
    width: 95%;
    height: 600px;
    background-color: white;
}

.block-image{
    display: flex;
    justify-content: center;
}

.tittle-book{
    margin-top: 50px;
}

.box p{
    padding: 10px 0px 0px 30px;
}

.list-link{
    margin-left: 300px;
    margin-top: 50px;
}
