
body{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

#container{
    border: 5px solid black;
    width: 700px;
    height: 500px;
    background-color: red;
}

#container p{
    padding-top: 20px;
    text-align: center;
    font: 18px sans-serif;
}

#block_head{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: gray;
}

#block_image{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
}


#return_image{
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
}
