
*{
    padding: 0;
    margin: 0;

}

#block_head { 
    display: grid;
    justify-content:center;
}

#emoji{
    display: flex;
    justify-content:center;
    font-size: 100px;
}

#head_text{
    font-family: 'Irish Grover', cursive;
}

#block_list{
    display: flex;
    justify-content: center;
    padding: 20px;
}

select{
    width: 400px;
    height: 40px;
    border-radius: 7px;
}

#loading{
  
    width: 200px;
    height: 200px;
    display: none;
}

#block-loading{
    display: flex;
    justify-content: center;
    width: 100%;
}

#body{
    display: grid;
    justify-content: center;
}

#content_list_un{
    display: grid ;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    overflow:auto;
    background-color: white;
    width: 100%;
}

.list_un{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-content: center;
    width: 500px;
    height: 150px;
    background-color: #f4f4f4;
    margin: 10px;
    border-radius: 7px;
    border: 2px #dddddd solid;
}

.country_short{
    text-align: center;
}

.list_name_un{
    margin-top: 10px;
    display: grid;
    justify-content: center;
}

a:link{
    color:#84b1f8
}

.fa-solid {
    padding-right: 10px;
    color:#84b1f8 ;
}

.list_link_un{
    display: flex;
    justify-content: center;
}