*{
    padding: 0px;
    margin: 0px;
}

#container {
    position: relative;
    top: 100px;
    left: 500px;
    background-color: white;
    width: 600px;
    height: 500px;
    border:  5px solid black;
}  

.block1{
    margin-left: 230px;
}

#emoji{
    font-size: 100px;
}

#head{
    font-family: 'Irish Grover', cursive;
    position: relative;
    right: 30px;
}

#button{
    font-family: 'Irish Grover', cursive;
    position: relative;
    left: 210px;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    background-color:#3083ff ;
    border: white;
    color: white;
    font-size: 17px;

}

#block3{
    position: relative;
    margin-top: 20px;
    left: 110px;
    width: 400px;
    height: 200px;
    background-color: #f4f4f4;
    border: 1px solid #d7d7d7;
    border-radius: 10px;

}
.text{
    
    display: flex;
    padding: 10px;
}

#loading{
    position: relative;
    top : 10px;
    left: 200px;
    width: 200px;
    height: 200px;
}

#activity_text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:black;
    margin-top: 20px;
}

#block3 p{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 50px;
    font-size: 17px;
}

svg{
    width: 20px;
    margin-left: 20px;

}