*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* create resert on padding margin box-sizing*/
#container {
    position: relative;
    top: 100px;
    left: 500px;
    background-color: white;
    width: 600px;
    height: 600px;
    border:  5px solid black;
}  

.block1{
    margin-left: 230px;
}

#emoji{
    font-size: 100px;
}

#block_text{
    display:flex;
    position: relative;
    right: 30px;
}

#head{
    font-family: 'Irish Grover', cursive;
    position: relative;
    right: 10px;
}

#text_Home{
    font-family: 'Irish Grover', cursive;
    color: #3083ff;
}

#block_button{
    position: relative;
    left: 190px;
}

#text_values{
    border: 2px solid  #999999;
    margin-top: 20px;
    width: 200px;
    height: 30px;
    border-radius: 7px;
    
}

#button{
    
    width: 80px;
    height: 35px;
    border-radius: 7px;
    background-color:#3083ff ;
    border: white;
    color: white;
    font-size: 16px;
    margin-left: 10px;

}

#block3{
    position: relative;
    top : 30px;
    left: 190px;
    width: 300px;
    height: 300px;
    border-radius: 10px;

}

#loading{
    position: relative;
    top : 10px;
    left: 200px;
    width: 200px;
    height: 200px;
}

.block_country{

    font-size: 20px;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    margin-top: 5px;
    border-radius: 7px;
    background-color: #f4f4f4 ;
    display: flex;
    justify-content: space-between;
    
}
