#container {
    position: relative;
    top: 100px;
    left: 500px;
    background-color: white;
    width: 600px;
    height: 500px;
    border:  5px solid black;
}  

.block1{
    margin-left: 230px;
}

#emoji{
    font-size: 100px;
}

#head{
    
    font-family: 'Irish Grover', cursive;
    position: relative;
    right: 10px;
   
}

#text_Gender{
    color: #3083ff;
    font-family: 'Irish Grover', cursive;
}
#block_text{
    display:flex;
}

#block_button{
    position: relative;
    left: 190px;
}

#text_values{
    border: 2px solid  #999999;
    width: 200px;
    height: 30px;
    border-radius: 7px;
    
}

#button{
    
    width: 80px;
    height: 35px;
    border-radius: 7px;
    background-color:#3083ff ;
    border: white;
    color: white;
    font-size: 16px;
    margin-left: 10px;

}

#block3{
    position: relative;
    top : 30px;
    left: 220px;
    width: 250px;
    height: 150px;
    background-color: #f4f4f4;
    border: 1px solid #d7d7d7;
    border-radius: 10px;

}

#loading{
    position: relative;
    top : 10px;
    left: 200px;
    width: 200px;
    height: 200px;
}

#Name_text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:black;
}
#Gender_text{
    color: #f06e24;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#Probability_text{

    color:#72aafe;
    font-family: 'Irish Grover', cursive;
    text-align: center;
}